@import "./assets/variables.scss";

.row {
  margin: 0;
}

.header {
  padding: 1rem;
  background-color: $primary-color;
}

.title {
  border-bottom: $border-color;
  text-align: center;
  color: white;
}

.settings {
  border-bottom: $border-color;
  text-align: center;
  font-size: xx-large;
}
