@import "../assets/variables.scss";

#shirt {
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  & input {
    position: absolute;
  }
}

.submit {
  &__button {
    background-color: white;
    color: $primary-color;
    border: $primary-color;
    margin-bottom: 2rem;
  }
  &__div {
    text-align: center;
    padding-right: 0;
  }
}
